html
  head
    html, body {
      margin: 0;
      padding: 0;
    }
    style(type='text/css').
      video {
        filter: url(#myFilter);
      }
  body
    .controls
      input(type='button', onclick='master()', value='Master')
      input(type='button', onclick='client()', value='Client')
    video
    svg
      filter#myFilter
        feColorMatrix(in='SourceGraphic', type='hueRotate', values='180')
    script(type='text/javascript').
      require('./renderer.js');